header {
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: space-between;

  background-color: var(--grey);
  min-height: 40px;
  z-index: 3;
}

footer {
  background-color: var(--grey);

  min-height: 40px;
}

main {
  min-height: calc(100vh - 90px);
  display: flex;
  flex-flow: column;
}

main > div {
  display: flex;
  flex-grow: 1;
}

section#banner {
  display: flex;
  align-items: flex-end;

  position: relative;
  z-index: 2;

  min-height: 80px;
  padding: 12px;
  
  background-color: white;
  box-shadow: 0px 6px 20px 1px rgba(0, 0, 0, 0.5);
}

section#banner > h1 {
  margin-bottom: 0;
  color: var(--blue);
  transform: translateY(5px);
}

section#banner > h3 {
  position: absolute;
  right: 12px;

  margin-bottom: 0;
  transform: translateY(-5px);
}

section#banner > h1.female {
  color: var(--yellow);
}

.logo-long {
  height: 100px;
}

h3 > span.male {
  color: var(--blue);
}

h3 > span.female {
  color: var(--yellow);
}

