nav#exercise-navigation {
  position: relative;
  z-index: 1;
  
  background-color: white;
  white-space: nowrap;
}

nav#exercise-navigation > div {
  display: block;
  position: sticky;
  top: 24px;
}

nav#exercise-navigation > div > ul {
  padding: 0 0 0 20px;
  margin: 24px 12px 12px 6px;
}

nav#exercise-navigation > div > ul > li {
  margin: 6px 0;
  list-style-type: none;
  position: relative;
}

h3.nav-item {
  position: absolute;
  bottom: 0px;

  margin: 5px 3px;
  padding: 1px 3px;

  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  color: black;
}

img.body-area {
  height: 75px;
  width: 75px;

  border-radius: 5px;
  background-color: var(--grey);

  transition: .4s;
}

li.nav-item:hover {
  transform: translateX(20px);
  transition: .4s;
}

nav#exercise-navigation > div > ul > li > a.active > img.body-area,
img.body-area:active {
  border: 5px solid var(--blue);
  transition: .1s;
}

nav#exercise-navigation > div > ul > li > a.active > img.body-area.female,
img.body-area.female:active {
  border: 5px solid var(--yellow);
}
