section#exercise-content {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;

  justify-content: center;
  /* align-items: center; */
  position: relative;
  min-height: 100%;

  background-image: linear-gradient(to bottom right, var(--greyBlueDark), var(--greyBlueLight) );
  padding: 12px;
}

