:root {
  --grey: #ebebeb;
  --greyBlueDark: #708a9f;
  --greyBlueLight: #adbfce;
  --blue: #00b5e2;
  --yellow: #ffb005;
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  border: 5px solid black;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: 'Josefin Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Bebas Neue', cursive;
}

h1 {
  font-size: 3em;
}

button {
  color: white;
  background-color: black;
}

button:focus {
  outline: unset;
}