div#exercise-o-day-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 24px;
}

div#exercise-o-day-content > div.information-container,
div#exercise-o-day-content > div.img-container {
  width: 40vw;
  height: 40vw;
  background-color: var(--grey);
  margin: 12px;
}

div#exercise-o-day-content img.exercise-img {
  width: 100%;
  border-radius: unset;
}

div#exercise-o-day-content > div.information-container {
  text-align: start;
  padding: 12px;
  overflow-y: scroll;
}

div#exercise-o-day-content > div.information-container > h2 {
  margin: 6px 0;
}

div#exercise-o-day-content > div > ul {
  list-style-type: none;
  margin: 0 0 6px 0;
}

div#exercise-o-day-content > div > ul > li {
  margin: 6px 0;
}

/* isMobileDevice */
@media screen and (max-width: 576px){

  div#exercise-o-day-content {
    flex-wrap: nowrap;
    flex-flow: column;
    align-items: center;
  }

  div#exercise-o-day-content > div.information-container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;

    width: 80vw;
    height: unset;

    text-align: start;
    padding: 12px;
    overflow-y: hidden;
  }

  div#exercise-o-day-content > div.transcript {
    width: 80vw;
    background-color: var(--grey);
    margin: 12px;
    padding: 12px;
  }

  div#exercise-o-day-content > div.img-container {
    width: 40vw;
    height: 40vw;
  }
}

/* isExtraSmall */
@media screen and (max-width: 360px){

  div#exercise-o-day-content > div.information-container {
    align-items: unset;
  }
}

/* isMobileDevice and isTabletDevice */
@media screen and (min-width: 576px) and (max-width: 760px) {

  div#exercise-o-day-content > div.transcript {
    width: 80vw;
    background-color: var(--grey);
    margin: 12px;
    padding: 12px;
  }

  div#exercise-o-day-content > div.information-container {
    text-align: start;
    padding: 12px;
    overflow-y: hidden;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  div#exercise-o-day-content > div.information-container,
  div#exercise-o-day-content > div.img-container {
    width: 35vw;
    height: 35vw;
  }

}
