/* Card Styles */

.card-container {
  position: relative;

  max-width: 400px;

  border-radius: 10px;
  margin: 12px;
  background-color: white;
  box-shadow: 0px 5px 20px 1px rgba(0, 0, 0, 0.5);
}

.card-container > div.infomation-container {
  padding: 12px;
}

div.transcript > ol > li {
  margin: 12px 0;
}

.exercise-img {
  max-width: 100%;

  border-radius: 10px 10px 0 0;
}

div.img-container{
  position: relative;
  height: 400px;
}

div.img-container:after {
  content: '';
  transform-origin: 0;
  transform: skewY(8.5deg);
  z-index: 1;
  
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  height: 65px;
  background: white;
}



/* Toggler styles */

.switch {
  position: relative;
  display: inline-block;

  width: 62px;
  height: 30px;
  margin: 6px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  border-radius: 15px;
  background-color: var(--blue);
  height: 20px;
  margin: 5px 1px;

  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";

  height: 30px;
  width: 30px;
  left: 0px;
  bottom: -5px;

  background-color: white;
  border-radius: 50%;

  transition: .4s;
}

.slider.on {
  background-color: var(--yellow);
}

.slider.on:before {
  transform: translateX(31px);
}


/* Loader styles */

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 160px;
  height: 160px;

  align-self: center;
  justify-self: center;
}

.lds-ripple div {
  position: absolute;
  border: 5px solid white;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: .75s;
}

@keyframes lds-ripple {
  0% {
    top: 75px;
    left: 75px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 150px;
    height: 150px;
    opacity: 0;
  }
}

/* placeholder styles  */

div.img-placeholder {
  display: flex;
  height: 400px;
  justify-content: center;
}

div.img-placeholder > .lds-ripple div {
  border: 5px solid var(--greyBlueLight);
}