/* MuscleGroups styls */
select#bodyAreas-filter {
  width: fit-content;
  padding: 6px 12px;
  margin: 20px 0 6px 0;

  background-color: white;
  border: unset;
  border-radius: 100px;
  box-shadow: 0 0 10px 1px var(--greyBlueLight);
}

select#bodyAreas-filter:focus {
  outline: unset;
}

option.male:hover {
  background-color: var(--blue);
}

option.female:hover {
  background-color: var(--yellow);
}

/* searchBar styles */

form#search-bar {
  display: flex;
  align-items: center;

  position: fixed;
  top: 87.5vh;
  right: 5vw;
  z-index: 2;

  background-color: white;
  border-radius: 100px;
  box-shadow: 0 0 10px 1px var(--greyBlueLight);
}

form#search-bar > label {
  padding: 15px;
}

input#exercise-search {
  margin: 10px 15px;
  border: unset;
}

input#exercise-search:focus {
  outline: unset;
}